/* ==========================================================================
 Typography
========================================================================== */

h1, h2, h3, h4 {
	color: #1f2d3d;
}

a {
	color: #e19819;
	text-decoration: none;
}

a:hover {
	color: #c6c235;
}

/* ==========================================================================
 Header Component
========================================================================== */

header {
	background-color: #0c045e;
	padding: 2rem;
}

header h1 {
	color: #f9fafc;
}

/** Navigation **/

nav li {
	display: inline-block;
	font-size: 20px;
	list-style-type: none;
	margin: auto;
	padding: 20px;
	text-align: center;
}

/* ==========================================================================
 Main Component
========================================================================== */

main {
	padding: 2rem;
}

/* ==========================================================================
 Footer Component
========================================================================== */

footer {
	background-color: #6e7d6f;
	padding: 2rem;
}